<style>
    .container-fluid {
    font-family: sans-serif;
    background: url('https://visme.co/blog/wp-content/uploads/2019/10/animated-presentation-software-header.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.card {
    opacity: .9;
    background-color: #eeeeee;
    border: 1px solid #062F4F;
    height: 40vh;
}
</style>
<div class="container-fluid p-5 mb-5">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center">
                <h1><i class="far fa-registered"></i></h1>
                <p>Create an account or login</p>
                <a href="users/register" class="btn btn-success btn-block mb-2">Register</a>
                <a href="users/login" class="btn btn-outline-success btn-block">Login</a>
    
            </div>
        </div>
    </div>
</div>
<section class="row m-auto mb-5">
    <div class="col-md-3 bg-green">
        <h1>Introduction</h1>
    </div>
    <div class="col-md-6 bg-blue">
        <h1>Introduction</h1>
        <video width="100%" height="240" controls>
            <source src="intro.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-md-3 bg-yellow"><h1>Wrapper3</h1></div>
</section>
 